.header{
    text-align: center;
    background-color: black;
    position:relative;
    padding: 3%;
}
.header h1{
    color: red;
    text-decoration: underline;
}
h2{
    text-align: center;
    text-decoration: underline;
    padding: 2%;
}

nav a{
    display: inline;
    margin-left: 5px;
    color: ivory;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  table {
    margin-left: auto;
    margin-right: auto;
  }

form{
    
    width: 50%;
    
}
